<!doctype html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Disni | Contact </title>
  <meta name="author" content="Disni Trophies">
  <meta name="description" content="Disni Trophies">
  <meta name="keywords" content="Disni Trophies">
  <meta name="robots" content="INDEX,FOLLOW">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons - Place favicon.ico in the root directory -->
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/img/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--==============================
	  Google Fonts
	============================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&amp;family=Italiana&amp;family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
  <!--==============================
	    All CSS File
	============================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Fontawesome Icon -->
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="/css/magnific-popup.min.css">
  <!-- Slick Slider -->
  <link rel="stylesheet" href="/css/slick.min.css">
  <!-- Animation CSS -->
  <link rel="stylesheet" href="/css/animate.min.css">
  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="vs-body2">
    <div class="preloader">
        <div class="preloader-inner">
            <img src="/img/logo.png" style="width: 60px;" alt="logo">
            <span class="loader"></span>
        </div>
    </div>
    <!--==============================
		Mobile Menu
	============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <div class="mobile-logo">
                <a href="index.html"><img src="/img/logo.png" alt="disni" style="width: 100px;" class="logo"></a>
                <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a  href="/about">About</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                    <li>
                        <a style="color: #efbd14;" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ==============================
    	Sticky Navbar
    ============================== -->
    <div id="navbars" class="header-sticky navbars">
        <div class="container custom-container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-3 col-md-auto d-none d-lg-block col-auto">
                    <div class="menu-wrapper">
                        <div class="menu-category">

                            <div class="logo">
                                <a href="/">
                                    <img src="img/logo.png" style="width: 70px;" alt="Logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-auto col-md-auto col-auto">
                    <nav class="main-menu d-none d-lg-block">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a  href="/about">About</a>
                            </li>
                            <li>
                                <a href="/shop">Shop</a>
                            </li>
                            <li>
                                <a style="color: #efbd14;" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ==============================
    	Main Section Wrapper
  	============================== -->
    <main class="main">
        <!--==============================
        Header Area
    ==============================-->
        <header class="vs-header layout1">
            <!-- Main Menu Area -->
            <div class="sticky-wrapper position-relative">
                <div class="container custom-container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-4 d-none d-xl-block">
                            <nav class="main-menu menu-style1 d-none d-lg-block">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a  href="/about">About</a>
                                    </li>
                                </ul>
                            </nav>
                            <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                        </div>
                        <div class="col-xl-4 col-lg-auto">
                            <div class="header-logo style3 text-center">
                                <a href="/"><img src="/img/logo.png" alt="Disni" style="width: 100px;"
                                        class="logoMain"></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-auto">
                            <div class="d-flex justify-content-between justify-content-lg-end align-items-center gap-3">
                                <nav class="main-menu menu-style1 d-none d-lg-block text-end">
                                    <ul>

                                        <li>
                                            <a href="/shop">Shop</a>
                                        </li>
                                        <li>
                                            <a style="color: #efbd14;" href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </nav>

                                <div class="d-lg-none">
                                    <button class="vs-menu-toggle d-inline-flex align-items-center"><i
                                            class="fal fa-bars"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom text-center">
                <img src="/img/shapes/header-bottom-shape-1.svg" alt="header bottom">
            </div>
        </header>
 
    <div class="breadcumb-wrapper" data-bg-src="/img/bg/contactbg.jpg">
      <img src="/img/shapes/dot-shape.svg" alt="dot" class="breadcumb-element">
      <div class="container z-index-common">
        <div class="breadcumb-content">
          <h1 class="breadcumb-title">contact us</h1>
          <div class="breadcumb-menu-wrap">
            <ul class="breadcumb-menu">
              <li><a href="index.html">Home</a></li>
              <li>contact us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Area -->
    <section class="space space-extra-bottom">
      <div class="container">
        <div class="row gx-60 align-items-center">
          <div class="col-lg-5 mb-30">
            <div class="mb-30">
              <span class="sec-subtitle">contact info</span>
              <h2 class="sec-title text-white">get in touch</h2>
              <img src="/img/shapes/title-shape-1.svg" alt="title shape">
            </div>
            <div class="contact-info mb-20">
              <span>Address:</span>Kunnamkulam-Guruvayoor Road Opposite Gas
              Crematorium,Kottapai,Guruvayoor
            </div>
            <div class="mb-20">
              <span class="address-info">
            <img src="/img/icons/vs-ct-icon-1-1.svg" alt="vs icon">
            Call Us :
            <a href="tel:+919207767697">+91-9207767697</a>
            <a href="tel:+916235767696">+91-6235767696</a>
          </span>
              <span class="address-info">
            <img src="/img/icons/vs-ct-icon-1-2.svg" alt="vs icon">
            Mails :
            <a href="mailto:Disnitrophies123@gmail.com">Disnitrophies123@gmail.com</a>
            
          </span>
          <span class="address-info">
            <a href="mailto:Disnitrophiesworks@gmail.com">Disnitrophiesworks@gmail.com</a>
          </span>
          
            </div>
            <div class="social-style">
              <h4 class="footer-title mb-0">follow</h4>
              <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
              <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            
            </div>
          </div>
          <div class="col-lg-7 mb-30">
            <form action="javascript:void(0);" onsubmit="sendToWhatsapp()" class="form-style2 ajax-contact">
              <div class="row gx-20">
                <div class="col-md-6 form-group">
                  <input class="form-control" type="text" name="name" id="name" placeholder="Your Name *">
                </div> 
                <div class="col-md-6 form-group">
                  <input class="form-control" type="email" name="email" id="email" placeholder="Email Address">
                </div>
                <div class="col-md-6 form-group">
                  <input class="form-control" type="tel" name="phone" id="phone" placeholder="Phone *">
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control" name="message" id="message" rows="10" placeholder="Type Your Message"></textarea>
                </div>
                <div class="col-12">
                  <button class="vs-btn" type="submit">submit now</button>
                </div>
              </div>
            </form>
            <script>
                function sendToWhatsapp() {
                    let number = "+919207767697";
                    let name = document.getElementById('name').value;
                    let email = document.getElementById('email').value;
                    let phone = document.getElementById('phone').value;
                    let message = document.getElementById('message').value;
                    let url = "https://wa.me/" + number + "?text=" + 
                              "Name: " + encodeURIComponent(name) + "%0a" + 
                              "Email: " + encodeURIComponent(email) + "%0a" + 
                              "Phone: " + encodeURIComponent(phone) + "%0a" + 
                              "Message: " + encodeURIComponent(message);
                    window.open(url, "_blank");
                }
            </script>
            <p class="form-messages mb-0 mt-3"></p>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Area End -->
    <div class="space-bottom">
      <div class="container">
        <div class="map-style1">
          <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Kunnamkulam-Guruvayoor%20Road%20Opposite%20Gas%20Crematorium,Kottapai,Guruvayoor+(disni%20trophies)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <!--==============================
        Footer Area
    ==============================-->
    <footer class="footer-layout2" data-bg-src="/img/footer/footer-image-1-1.png">
        <div class="footer-widgets">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/img/logo.png" style="width: 100px;" alt="logo"></a>
                        </div>
                        <div class="footer-info style2">
                            <p><span>Address :</span> Kunnamkulam-Guruvayoor Road Opposite Gas
                                Crematorium,Kottapai,Guruvayoor</p>
                        </div>
                        <a href="/"><img src="/img/footer/payments.png" alt="payments"></a>
                    </div>
                    <div class="col-lg-auto">
                        <div class="footer-widget">
                            <h3 class="footer-title">links</h3>
                            <div class="footer-menu2">
                                <a href="/about">About us</a>
                                <a href="/shop">Shop</a>
                                <a href="contact">Contact us</a>
                                <a href="/">Home</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto">
                        <div class="footer-widget">
                            <h3 class="footer-title">About Store</h3>
                            <div class="footer-menu2">
                                <a href="/about">Shopping</a>

                                <a href="/">Privacy Policy</a>
                                <a href="/">Terms and conditions</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto">
                        <div class="footer-widget">
                            <h3 class="footer-title">Subscribe for <span>newsletter</span></h3>
                            <form class="footer-newsletter" action="#">
                                <input type="email" placeholder="Enter your email">
                                <button type="submit">
                                    <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                                        <path d="M12.43 0.930176L18.5 7.00018L12.43 13.0702M1.5 7.00018H18.33"
                                            stroke="#F5F1E6" stroke-width="1.5" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </form>
                            <h4 class="footer-title">follow</h4>
                            <div class="social-style">
                                <a class="facebook" href="https://www.facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="instagram" href="https://www.instagram.com/"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="twitter" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a class="linkedin" href="https://linkedin.com/"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="footer-copyright style2">
            Copyright <i class="fal fa-copyright"></i> 2024 All rights <a href="index.html">Disni</a>.
            Developed by <a href="https://trivlogic.com/">Trivlogic</a>.
        </p>
    </footer>
    <!--==============================
        Footer Area End
    ==============================-->
  </main>
  <!-- ==============================
    	Main Section Wrapper End
  	============================== -->
  <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
  <!--********************************
		Code End  Here 
******************************** -->
  <!--==============================
        All Js File
    ============================== -->
  <!-- Jquery -->
  <script src="/js/vendor/jquery-3.6.0.min.js"></script>
  <!-- Jquery UI -->
  <script src="/js/jquery-ui.min.js"></script>
  <!-- Slick Slider -->
  <script src="/js/slick.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- WOW.js Animation -->
  <script src="/js/wow.min.js"></script>
  <!-- Magnific Popup -->
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- Image Loaded Jquery -->
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <!-- Gsap -->
  <script src="/js/gsap.min.js"></script>
  <!-- ScrollTrigger -->
  <script src="/js/ScrollTrigger.min.js"></script>
  <!-- ScrollToPlugin -->
  <script src="/js/ScrollToPlugin.min.js"></script>
  <!-- SplitText -->
  <script src="/js/SplitText.min.js"></script>
  <!-- Lenis -->
  <script src="/js/bundled-lenis.min.js"></script>
  <!-- Main Js File -->
  <script src="/js/main.js"></script>
</body>

</html>