<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Disni | Home </title>
    <meta name="author" content="Disni Trophies">
    <meta name="description" content="Disni Trophies">
    <meta name="keywords" content="Disni Trophies">
    <meta name="robots" content="INDEX,FOLLOW">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&amp;family=Italiana&amp;family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap"
        rel="stylesheet">
    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/css/slick.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="vs-body2">

    <div class="preloader">
        <div class="preloader-inner">
            <img src="/img/logo.png" style="width: 60px;" alt="logo">
            <span class="loader"></span>
        </div>
    </div>
    <!--==============================
		Mobile Menu
	============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <div class="mobile-logo">
                <a href="index.html"><img src="/img/logo.png" alt="disni" style="width: 100px;" class="logo"></a>
                <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li>
                        <a style="color: #efbd14;" href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ==============================
    	Sticky Navbar
    ============================== -->
    <div id="navbars" class="header-sticky navbars">
        <div class="container custom-container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-3 col-md-auto d-none d-lg-block col-auto">
                    <div class="menu-wrapper">
                        <div class="menu-category">

                            <div class="logo">
                                <a href="/">
                                    <img src="img/logo.png" style="width: 70px;" alt="Logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-auto col-md-auto col-auto">
                    <nav class="main-menu d-none d-lg-block">
                        <ul>
                            <li>
                                <a style="color: #efbd14;" href="/">Home</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/shop">Shop</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ==============================
    	Main Section Wrapper
  	============================== -->
    <main class="main">
        <!--==============================
        Header Area
    ==============================-->
        <header class="vs-header layout1">
            <!-- Main Menu Area -->
            <div class="sticky-wrapper position-relative">
                <div class="container custom-container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-4 d-none d-xl-block">
                            <nav class="main-menu menu-style1 d-none d-lg-block">
                                <ul>
                                    <li>
                                        <a style="color: #efbd14;" href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                </ul>
                            </nav>
                            <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                        </div>
                        <div class="col-xl-4 col-lg-auto">
                            <div class="header-logo style3 text-center">
                                <a href="/"><img src="/img/logo.png" alt="Disni" style="width: 130px;"
                                        class="logoMain"></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-auto">
                            <div class="d-flex justify-content-between justify-content-lg-end align-items-center gap-3">
                                <nav class="main-menu menu-style1 d-none d-lg-block text-end">
                                    <ul>

                                        <li>
                                            <a href="/shop">Shop</a>
                                        </li>
                                        <li>
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </nav>

                                <div class="d-lg-none">
                                    <button class="vs-menu-toggle d-inline-flex align-items-center"><i
                                            class="fal fa-bars"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom text-center" style="position: relative;">
                <img src="/img/shapes/header-bottom-shape-1.svg" alt="header bottom">
                <div class="hero-pricing"
                    style="position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); color: #ffffff;">
                    WHOLESALE & RETAIL DEALERS
                </div>
            </div>
            <style>
                @media (max-width: 767px) {
                    .hero-pricing {
                        display: none;
                    }
                }
            </style>
        </header>

        <section class="hero-layout3">
     
            <div class="hero-carousel-arrow">
                <button class="hero-carousel-prev" data-slick-prev=".hero-carousel3">
                    <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.57 0.93L1.5 7l6.07 6.07" stroke="#F2F2F2" stroke-width="1.5"
                            stroke-linecap="round" />
                        <path d="M18.5 7H1.67" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </button>
                <div class="slick-status">
                    <span class="slick-status__active">01</span> / <span>03</span>
                </div>
                <button class="hero-carousel-next" data-slick-next=".hero-carousel3">
                    <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.43 0.93L18.5 7l-6.07 6.07" stroke="#F2F2F2" stroke-width="1.5"
                            stroke-linecap="round" />
                        <path d="M1.5 7H18.33" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
            <div class="vs-hero">
                <div class="vs-carousel hero-carousel3" data-fade="true" data-slide-show="1" data-dots="false"
                    data-arrows="false">
                    <div>
                        <div class="hero-main style4" data-bg-src="/img/hero/trophybg.jpg">
                            <div class="hero-pricing">
                                WHOLESALE & RETAIL DEALERS
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="hero-main style4" data-bg-src="/img/hero/bg3.jpg">
                            <div class="hero-pricing">
                                WHOLESALE & RETAIL DEALERS
                            </div>
                          
                        </div>
                    </div>
                    <div>
                        <div class="hero-main style4" data-bg-src="/img/hero/bg2.jpg">
                            <div class="hero-pricing">
                                WHOLESALE & RETAIL DEALERS
                            </div>
                         
                            <h1 class="hero-title">
                                <span>
                                    <span class="htext2 highlight">premier glass memento </span> <span class="htext1"></span>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="banner-layout1 wow animate__fadeInUp" data-wow-delay="0.2s">
            <div class="container-fluid p-0">
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <div class="banner-style" data-bg-src="/img/banner/banner-bg-1-1.png">
                            <div class="banner-img">
                                <img data-speed="1.08" src="/img/banner/premium.jpg" alt="banner-watch">
                            </div>
                            <div class="banner-content">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span></span>
                                </div>
                                <h3 class="banner-title"><a href="/shop">Premium Models</a></h3>
                                <span class="product-price">Starting From<span>₹150.00</span></span>
                                <a href="/shop" class="vs-btn">shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-style style2" data-bg-src="/img/banner/banner-bg-1-2.png">
                            <div class="banner-img">
                                <img data-speed="1.1" src="/img/banner/wooden.jpg" alt="banner-watch">
                            </div>
                            <div class="banner-content">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span></span>
                                </div>
                                <h3 class="banner-title"><a href="/shop">Wooden Trophies</a></h3>
                                <span class="product-price">Starting From<span>₹150.00</span></span>
                                <a href="/shop" class="vs-btn">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==============================
        Banner Area End
    ==============================-->
        <!--==============================
        Product Two
      ==============================-->
        <section class="space space-extra-bottom z-index-common element-layout">
            <img src="/img/shapes/h3-ele-1.svg" alt="ele" class="h3ele1">
            <div class="gradient-bg"></div>
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto mx-auto">
                        <div class="title-area text-center">
                            <span class="sec-subtitle">Find the perfect </span>
                            <h2 class="sec-title" style="color: #efbd14;">Customized Memento & Corporate Gift</h2>
                            <img src="/img/shapes/title-shape-1.svg" alt="title shape">
                        </div>
                    </div>
                </div>
                <div class="row" id="product-list">

                </div>
            </div>
        </section>
        <!--==============================
        Product Two End
      ==============================-->
        <!--==============================
        Cate Two
      ==============================-->
        <section class="cate-layout2 space space-extra-bottom z-index-common"
            data-bg-src="/img/categories/cate-bg-1-1.png">
            <img src="/img/categories/cate-ele-2-1.png" alt="cate" class="ele1">
            <img src="/img/categories/cate-ele-2-2.svg" alt="cate" class="ele2">
            <img src="/img/categories/cate-ele-2-3.svg" alt="cate" class="ele3">
            <img src="/img/categories/cate-ele-2-4.svg" alt="cate" class="ele4">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="cate-content">
                            <div class="title-area">
                                <span class="sec-subtitle">exclusive categories</span>
                                <h2 class="sec-title">CUSTOM TROPHIES</h2>
                                <img src="/img/shapes/title-shape-2.svg" alt="title shape">
                            </div>
                            <div class="cate-tab">
                                <ul class="nav nav-pills mb-30" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-home" type="button" role="tab"
                                            aria-controls="pills-home" aria-selected="false"
                                            onclick="fetchProducts('premium models')">
                                            Premium
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-profile" type="button" role="tab"
                                            aria-controls="pills-profile" aria-selected="false"
                                            onclick="fetchProducts('medal models')">
                                            Medals
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-contact" type="button" role="tab"
                                            aria-controls="pills-contact" aria-selected="false"
                                            onclick="fetchProducts('wooden trophies')">
                                            Wooden
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-award-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-award" type="button" role="tab"
                                            aria-controls="pills-award" aria-selected="false"
                                            onclick="fetchProducts('award trophies')">
                                            Award
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-championship-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-championship" type="button" role="tab"
                                            aria-controls="pills-championship" aria-selected="false"
                                            onclick="fetchProducts('championship trophies')">
                                            Championship
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-gift-items-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-gift-items" type="button" role="tab"
                                            aria-controls="pills-gift-items" aria-selected="false"
                                            onclick="fetchProducts('gift items')">
                                            Gift Items
                                        </button>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                        aria-labelledby="pills-home-tab" tabindex="0">
                                        <div class="row vs-carousel" data-slide-show="2" data-lg-slide-show="2"
                                            data-md-slide-show="2" id="products-premium-models">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                        aria-labelledby="pills-profile-tab" tabindex="0">
                                        <div class="row vs-carousel" data-slide-show="2" data-lg-slide-show="4"
                                            data-md-slide-show="3" id="products-medal-models">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                        aria-labelledby="pills-contact-tab" tabindex="0">
                                        <div class="row vs-carousel" data-slide-show="2" data-lg-slide-show="2"
                                            data-md-slide-show="2" id="products-wooden-trophies">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-award" role="tabpanel"
                                        aria-labelledby="pills-award-tab" tabindex="0">
                                        <div class="row vs-carousel" data-slide-show="2" data-lg-slide-show="2"
                                            data-md-slide-show="2" id="products-award-trophies">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-championship" role="tabpanel"
                                        aria-labelledby="pills-championship-tab" tabindex="0">
                                        <div class="row vs-carousel" data-slide-show="2" data-lg-slide-show="2"
                                            data-md-slide-show="2" id="products-championship-trophies">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-gift-items" role="tabpanel"
                                        aria-labelledby="pills-gift-items-tab" tabindex="0">
                                        <div class="row vs-carousel" data-slide-show="2" data-lg-slide-show="2"
                                            data-md-slide-show="2" id="products-gift-items">
                                            <!-- Products will be inserted here -->
                                        </div>
                                    </div>
                                </div>
        </section>


        <section class="process-layout1" data-bg-src="/img/bg/process-bg.png">
            <div class="container">
                <div class="vs">
                    <div>
                        <div class="row align-items-center gy-5 text-center text-lg-start">
                            <div class="col-lg-5 wow animate__fadeInUp" data-wow-delay="0.2s">
                                <span class="sec-subtitle">THE PROCESS</span>
                                <h2 class="sec-title style2 text-white">
                                    premier glass <span>memento</span>
                                </h2>
                            </div>
                            <div class="col-lg-3 wow animate__fadeInUp" data-wow-delay="0.3s">
                                <div class="process-img">
                                    <img src="/img/categories/trophies.png" alt="Process">
                                </div>
                            </div>
                            <div class="col-lg-4 wow animate__fadeInUp" data-wow-delay="0.4s">
                                <div class="process-content">
                                    <h3>DISNI <span>TROPHIES</span> Guruvayoor</h3>
                                    <p>a premier glass memento manufacturing company with a passion for craftsmanship
                                        and an unwavering commitment to quality.</p>
                                    <a href="http://wa.me/+919207767697" class="vs-btn style6">
                                        contact us
                                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.0132 11.9994L4.40018 0.407369C3.95755 0.144966 3.45333 0.00444828 2.93879 0.000103008C2.42424 -0.00424226 1.91772 0.12774 1.47073 0.38263C1.02373 0.63752 0.652195 1.00623 0.393902 1.45127C0.135609 1.89631 -0.000234709 2.40181 0.000182978 2.91637L0.000182184 21.0824C-0.000235548 21.5969 0.135608 22.1024 0.393901 22.5475C0.652194 22.9925 1.02373 23.3612 1.47072 23.6161C1.91772 23.871 2.42424 24.003 2.93879 23.9986C3.45333 23.9943 3.95755 23.8538 4.40018 23.5914L24.0132 11.9994ZM2.00018 8.99937L7.08118 11.9994L2.00018 14.9994L2.00018 8.99937ZM2.46118 21.8794C2.32016 21.8006 2.20293 21.6853 2.12182 21.5456C2.04071 21.4059 1.99869 21.2469 2.00018 21.0854L2.00018 17.3254L11.0132 11.9994L2.00018 6.67337L2.00018 2.91637C1.99996 2.75516 2.04242 2.59676 2.12325 2.45729C2.20408 2.31781 2.32041 2.20222 2.46039 2.12227C2.60038 2.04232 2.75904 2.00086 2.92025 2.00211C3.08145 2.00335 3.23945 2.04726 3.37818 2.12937L20.0812 11.9994L3.38118 21.8694C3.24264 21.9532 3.08406 21.9981 2.92214 21.9993C2.76023 22.0005 2.60098 21.9581 2.46118 21.8764L2.46118 21.8794Z"
                                                fill="#FF3E01" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==============================
        Process
      ==============================-->
        <!-- Best Selling -->
        <section class="space space-extra-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-auto mx-auto">
                        <div class="title-area text-center">
                            <span class="sec-subtitle">best products</span>
                            <h2 class="sec-title text-white">Crystal excellence trophies</h2>
                            <img src="/img/shapes/title-shape-1.svg" alt="title shape">
                        </div>
                    </div>
                </div>
                <div class="row vs-carousel product-carousel2" data-slide-show="4" data-lg-slide-show="3"
                    data-md-slide-show="2" data-sm-slide-show="1" id="product-list-home">

                </div>
            </div>
        </section>
        <!-- Best Selling End -->
        <!-- Video Area -->
        <div class="video-layout bg-position" data-bg-src="/img/hero/trophybg.jpg">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="title-area style2 text-center">
                            <img src="/img/shapes/title-shape-4.svg" alt="title shape">
                            <h2 class="sec-title text-white">DISNI TROPHIES</h2>
                            <span class="sec-subtitle">WHOLESALE & RETAIL DEALERS</span>
                            <a href="https://www.youtube.com/watch?v=63PTqNwmFfg" class="play-btn popup-video" target="_blank">
                                <i>
                                    <svg width="17" height="24" viewBox="0 0 17 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.785 9.439L0 0V24L14.779 14.527C15.2092 14.2566 15.5639 13.8816 15.8099 13.437C16.0559 12.9924 16.1852 12.4928 16.1858 11.9847C16.1864 11.4765 16.0583 10.9766 15.8133 10.5314C15.5683 10.0862 15.2146 9.7104 14.785 9.439ZM13.705 12.834L2.005 20.334V3.658L13.712 11.132C13.8563 11.2223 13.9752 11.3479 14.0574 11.497C14.1397 11.6461 14.1824 11.8137 14.1817 11.9839C14.181 12.1542 14.1369 12.3214 14.0534 12.4699C13.97 12.6183 13.8501 12.7429 13.705 12.832V12.834Z"
                                            fill="white" />
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Area End -->

        <section class="testi-layout2 z-index-common">
            <img src="/img/shapes/h3-ele-2.png" alt="element" class="h3ele2">
            <img src="/img/shapes/h3-ele-3.png" alt="element" class="h3ele3">
            <div class="vs-carousel-arrow">
                <button data-slick-prev=".testi-carousel">
                    <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.875999 4.586L5.462 0L6.876 1.414L2.614 5.677L24 5.707V7.707L2.554 7.677L6.877 12L5.463 13.414L0.875999 8.828C0.315294 8.26451 0.000526428 7.50193 0.000526428 6.707C0.000526428 5.91207 0.315294 5.14949 0.875999 4.586Z"
                            fill="#EEDCB3" fill-opacity="0.5" />
                    </svg>
                </button>
                <button data-slick-next=".testi-carousel">
                    <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M23.124 4.586L18.538 0L17.124 1.414L21.386 5.677L0 5.707V7.707L21.446 7.677L17.123 12L18.537 13.414L23.124 8.828C23.6847 8.26451 23.9995 7.50193 23.9995 6.707C23.9995 5.91207 23.6847 5.14949 23.124 4.586Z"
                            fill="white" />
                    </svg>
                </button>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="testi-left">
                            <!-- <img src="/img/testimonials/testi-left.png" alt="testi-left"> -->
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="title-area">
                            <span class="sec-subtitle">testimonial</span>
                            <h2 class="sec-title text-white">people love us</h2>
                            <img src="/img/shapes/title-shape-3.svg" alt="title shape">
                        </div>
                        <div class="testi-inner">
                            <div class="testi-carousel vs-carousel" data-fade="false">
                                <div class="testi-style style2">
                                    <div class="testi-rate">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <p class="testi-text">“The quality of the trophies is outstanding. Our team was
                                        thrilled with the awards, and the service was impeccable. Highly recommend for
                                        any event!“</p>
                                    <div class="testi-auth">
                                        <div class="testi-thumb">
                                            <img class="img" style="width: 50px;" src="/img/testimonials/dq.jpg"
                                                alt="testi thumb">
                                        </div>
                                        <div class="testi-auth-info">
                                            <span class="testi-user">Dulquar Salman</span>
                                            <span>Film Actor</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testi-style style2">
                                    <div class="testi-rate">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <p class="testi-text">“Exceptional craftsmanship and timely delivery. The trophies
                                        were a hit at our corporate event. Will definitely order again!“</p>
                                    <div class="testi-auth">
                                        <div class="testi-thumb">
                                            <img class="img" style="width: 50px;" src="/img/testimonials/manju.jpg"
                                                alt="testi thumb">
                                        </div>
                                        <div class="testi-auth-info">
                                            <span class="testi-user">manju warrior</span>
                                            <span>Film Actress</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="elfsight-app-bd0de6d0-c8d9-42af-b5af-00c6b91b5ff8" data-elfsight-app-lazy></div>

        <footer style="margin-bottom: 50px;" class="footer-layout2" data-bg-src="/img/footer/footer-image-1-1.png">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row gy-4 justify-content-between">
                        <div class="col-lg-3">
                            <div class="footer-logo">
                                <a href="/"><img src="/img/logo.png" style="width: 100px;" alt="logo"></a>
                            </div>
                            <div class="footer-info style2">
                                <p><span>Address :</span> Kunnamkulam-Guruvayoor Road Opposite Gas
                                    Crematorium,Kottapai,Guruvayoor</p>
                            </div>
                            <a href="/"><img src="/img/footer/payments.png" alt="payments"></a>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">links</h3>
                                <div class="footer-menu2">
                                    <a href="/about">About us</a>
                                    <a href="/shop">Shop</a>
                                    <a href="contact">Contact us</a>
                                    <a href="/">Home</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">About Store</h3>
                                <div class="footer-menu2">
                                    <a href="/about">Shopping</a>

                                    <a href="/">Privacy Policy</a>
                                    <a href="/">Terms and conditions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">Subscribe for <span>newsletter</span></h3>
                                <form class="footer-newsletter" action="#">
                                    <input type="email" placeholder="Enter your email">
                                    <button type="submit">
                                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                                            <path d="M12.43 0.930176L18.5 7.00018L12.43 13.0702M1.5 7.00018H18.33"
                                                stroke="#F5F1E6" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </form>
                                <h4 class="footer-title">follow</h4>
                                <div class="social-style">
                                    <a class="facebook" href="https://www.facebook.com/"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="instagram" href="https://www.instagram.com/"><i
                                            class="fab fa-instagram"></i></a>
                                    <a class="twitter" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a class="linkedin" href="https://linkedin.com/"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="footer-copyright style2">
                Copyright <i class="fal fa-copyright"></i> 2024 All rights <a href="index.html">Disni</a>.
                Developed by <a href="https://trivlogic.com/">Trivlogic</a>.
            </p>
        </footer>


    </main>
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
    <div class="d-lg-none"
        style="position: fixed; bottom: 0; width: 100%; background-color: #000000; box-shadow: 0 -2px 5px rgba(0,0,0,0.1); z-index: 1000;">
        <div class="container">
            <div class="row text-center" style="padding-top: 5px;">
                <div class="col">
                    <a href="/" class="d-block py-2">
                        <img src="img/footer/award.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px; color: #ffffff;font-weight: 600;">Home</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/about" class="d-block py-2">
                        <img src="img/footer/trophy.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px; color: #919191;font-weight: 600;">About</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/shop" class="d-block py-2">
                        <img src="img/footer/trophy-star.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px;color: #919191;font-weight: 600;">Shop</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/contact" class="d-block py-2">
                        <img src="img/footer/trophy-cup.png" alt="serviceicon" style="max-width: 30px;">
                        <p style="margin: 0; font-size: 12px;color: #919191;font-weight: 600;">Contact</p>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!-- Jquery -->
    <script>
        fetch('/api/products')
            .then(response => response.json())
            .then(data => {
                const productList = document.getElementById('product-list');
                productList.innerHTML = '';

                const productRow = document.createElement('div');
                productRow.className = 'row';

                // Limit the number of products to 8
                const limitedData = data.slice(0, 8);

                limitedData.forEach(product => {
                    const productHTML = `
           <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 wow animate__fadeInUp" data-wow-delay="0.2s">
             <div class="product-style2 version2">
               <div class="product-action">
                  <button class="product-action__btn" tabindex="0">
                    <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M18.5273 6.363C17.8445 4.86967 15.1666 0 9.33323 0C3.4999 0 0.822011 4.86967 0.139122 6.363C0.0474519 6.56312 0 6.78066 0 7.00078C0 7.2209 0.0474519 7.43843 0.139122 7.63856C0.822011 9.13033 3.4999 14 9.33323 14C15.1666 14 17.8445 9.13033 18.5273 7.637C18.6188 7.4371 18.6662 7.21984 18.6662 7C18.6662 6.78016 18.6188 6.5629 18.5273 6.363ZM9.33323 12.4444C4.42779 12.4444 2.13879 8.27089 1.55546 7.00856C2.13879 5.72911 4.42779 1.55556 9.33323 1.55556C14.227 1.55556 16.5168 5.71122 17.111 7C16.5168 8.28878 14.227 12.4444 9.33323 12.4444Z" fill="#6D747B"></path>
                    <path d="M9.33323 3.11145C8.56408 3.11145 7.8122 3.33953 7.17268 3.76685C6.53315 4.19416 6.0347 4.80152 5.74036 5.51213C5.44602 6.22273 5.36901 7.00465 5.51906 7.75902C5.66912 8.51339 6.0395 9.20633 6.58337 9.7502C7.12724 10.2941 7.82017 10.6645 8.57454 10.8145C9.32891 10.9646 10.1108 10.8875 10.8214 10.5932C11.532 10.2989 12.1394 9.80042 12.5667 9.16089C12.994 8.52137 13.2221 7.76949 13.2221 7.00034C13.2209 5.96932 12.8108 4.98088 12.0817 4.25184C11.3527 3.5228 10.3642 3.11269 9.33323 3.11145ZM9.33323 9.33367C8.87174 9.33367 8.42061 9.19683 8.0369 8.94044C7.65318 8.68405 7.35411 8.31963 7.17751 7.89327C7.0009 7.46691 6.9547 6.99775 7.04473 6.54513C7.13476 6.09251 7.35699 5.67675 7.68331 5.35042C8.00963 5.0241 8.42539 4.80187 8.87802 4.71184C9.33064 4.62181 9.79979 4.66802 10.2262 4.84462C10.6525 5.02122 11.0169 5.32029 11.2733 5.70401C11.5297 6.08772 11.6666 6.53885 11.6666 7.00034C11.6666 7.61918 11.4207 8.21267 10.9831 8.65026C10.5456 9.08784 9.95207 9.33367 9.33323 9.33367Z" fill="#6D747B"></path>
                    </svg>
                   </button>
                </div>
            <div class="product-img">
                <a href="/product-details?id=${product._id}">
                    <img class="img" src="${product.imageUrl}" alt="product">
                 </a>
              
            </div>
            <h3 class="product-title">
              <a href="/product-details?id=${product._id}">${product.name}</a>
            </h3>
            <span class="product-price">
              <span class="product-price__number">₹${product.price}</span>
               <button class="product-cart" tabindex="0" onclick="buyNow('${product.name}', '${product.price}', '${product.description}', '${product.category}', '${product.height}', '${product.thickness}')">Buy Now</button>
            </span>
          </div>
        </div>
      `;
                    productRow.innerHTML += productHTML;
                });
                productList.appendChild(productRow);
            })
            .catch(error => console.error('Error fetching products:', error));
    </script>
    <script>
        fetch('/api/products?category=gift items')
            .then(response => response.json())
            .then(data => {
                const productList = document.getElementById('product-list-home');
                productList.innerHTML = '';

                const productRow = document.createElement('div');
                productRow.className = 'row';

                const limitedData = data.slice(0, 8);

                limitedData.forEach(product => {
                    const productHTML = `
            <div class="col-lg-3 col-md-4 col-sm-6 wow animate__fadeInUp" data-wow-delay="0.2s">
                <div class="product-style2 version2">
                    <div class="product-action">
                        <button class="product-action__btn" tabindex="0">
                            <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <!-- SVG path here -->
                            </svg>
                        </button>
                    </div>
                    <div class="product-img">
                        <a href="/product-details?id=${product._id}">
                            <img class="img" src="${product.imageUrl}" alt="product">
                            </a>
                        
                    </div>
                    <h3 class="product-title">
                        <a href="/product-details?id=${product._id}">${product.name}</a>
                    </h3>
                    <span class="product-price">
                        <span class="product-price__number">₹${product.price}</span>
                         <button class="product-cart" tabindex="0" onclick="buyNow('${product.name}', '${product.price}', '${product.description}', '${product.category}', '${product.height}', '${product.thickness}')">Buy Now</button>
                    </span>
                </div>
            </div>
            `;
                    productRow.innerHTML += productHTML;
                });
                productList.appendChild(productRow);
            })
            .catch(error => console.error('Error fetching products:', error));

    </script>
    <script>
        window.onload = function () {
            fetchProducts('premium models');
        };
    </script>
    <script>
        function fetchProducts(category) {
            const formattedCategory = category.replace(/\s+/g, '-');
            fetch(`/api/products?category=${category}`)
                .then(response => response.json())
                .then(products => {
                    const productContainer = document.getElementById(`products-${formattedCategory}`);
                    if (productContainer) {
                        productContainer.innerHTML = '';
                        const slickContainer = document.createElement('div');
                        slickContainer.className = 'product-carousel';

                        products.forEach(product => {
                            const productHTML = `
                                <div class="product-item" style="padding: 0 10px;"> <!-- Added padding for gap -->
                                    <div class="product-style2 version2">
                                        <div class="product-action">
                                            <button class="product-action__btn" tabindex="0">
                                                <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M18.5273 6.363C17.8445 4.86967 15.1666 0 9.33323 0C3.4999 0 0.822011 4.86967 0.139122 6.363C0.0474519 6.56312 0 6.78066 0 7.00078C0 7.2209 0.0474519 7.43843 0.139122 7.63856C0.822011 9.13033 3.4999 14 9.33323 14C15.1666 14 17.8445 9.13033 18.5273 7.637C18.6188 7.4371 18.6662 7.21984 18.6662 7C18.6662 6.78016 18.6188 6.5629 18.5273 6.363ZM9.33323 12.4444C4.42779 12.4444 2.13879 8.27089 1.55546 7.00856C2.13879 5.72911 4.42779 1.55556 9.33323 1.55556C14.227 1.55556 16.5168 5.71122 17.111 7C16.5168 8.28878 14.227 12.4444 9.33323 12.4444Z" fill="#6D747B"></path>
                                                    <path d="M9.33323 3.11145C8.56408 3.11145 7.8122 3.33953 7.17268 3.76685C6.53315 4.19416 6.0347 4.80152 5.74036 5.51213C5.44602 6.22273 5.36901 7.00465 5.51906 7.75902C5.66912 8.51339 6.0395 9.20633 6.58337 9.7502C7.12724 10.2941 7.82017 10.6645 8.57454 10.8145C9.32891 10.9646 10.1108 10.8875 10.8214 10.5932C11.532 10.2989 12.1394 9.80042 12.5667 9.16089C12.994 8.52137 13.2221 7.76949 13.2221 7.00034C13.2209 5.96932 12.8108 4.98088 12.0817 4.25184C11.3527 3.5228 10.3642 3.11269 9.33323 3.11145ZM9.33323 9.33367C8.87174 9.33367 8.42061 9.19683 8.0369 8.94044C7.65318 8.68405 7.35411 8.31963 7.17751 7.89327C7.0009 7.46691 6.9547 6.99775 7.04473 6.54513C7.13476 6.09251 7.35699 5.67675 7.68331 5.35042C8.00963 5.0241 8.42539 4.80187 8.87802 4.71184C9.33064 4.62181 9.79979 4.66802 10.2262 4.84462C10.6525 5.02122 11.0169 5.32029 11.2733 5.70401C11.5297 6.08772 11.6666 6.53885 11.6666 7.00034C11.6666 7.61918 11.4207 8.21267 10.9831 8.65026C10.5456 9.08784 9.95207 9.33367 9.33323 9.33367Z" fill="#6D747B"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="product-img">
                                            <a href="/product-details?id=${product._id}">
                                                <img class="img" src="${product.imageUrl}" alt="product">
                                                </a>
                                            
                                        </div>
                                        <h3 class="product-title">
                                            <a href="/product-details?id=${product._id}">${product.name}</a>
                                        </h3>
                                        <span class="product-price">
                                            <span class="product-price__number">₹${product.price}</span>
                                             <button class="product-cart" tabindex="0" onclick="buyNow('${product.name}', '${product.price}', '${product.description}', '${product.category}', '${product.height}', '${product.thickness}')">Buy Now</button>
                                        </span>
                                    </div>
                                </div>
                            `;
                            slickContainer.insertAdjacentHTML('beforeend', productHTML);
                        });

                        productContainer.appendChild(slickContainer);

                        $(slickContainer).slick({
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            responsive: [
                                {
                                    breakpoint: 1199,
                                    settings: {
                                        slidesToShow: 3
                                    }
                                },
                                {
                                    breakpoint: 991,
                                    settings: {
                                        slidesToShow: 2
                                    }
                                },
                                {
                                    breakpoint: 767,
                                    settings: {
                                        slidesToShow: 1
                                    }
                                }
                            ]
                        });
                    } else {
                        console.error(`Element with id products-${formattedCategory} not found`);
                    }
                });
        }

    </script>
    <script>
        function buyNow(name, price, description, category, height, thickness) {
            const message = `I'm interested in buying the following product:\n\nName: ${name}\nPrice: ₹${price}\nDescription: ${description}\nCategory: ${category}\nHeight: ${height} cm\nThickness: ${thickness} mm`;
            const encodedMessage = encodeURIComponent(message);
            const phoneNumber = '919656393940';
            const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodedMessage}`;
            window.location.href = whatsappUrl;
        }
    </script>
    </script>
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Jquery UI -->
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Slick Slider -->
    <script src="/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- WOW.js Animation -->
    <script src="js/wow.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Image Loaded Jquery -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- Gsap -->
    <script src="/js/gsap.min.js"></script>
    <!-- ScrollTrigger -->
    <script src="/js/ScrollTrigger.min.js"></script>
    <!-- ScrollToPlugin -->
    <script src="/js/ScrollToPlugin.min.js"></script>
    <!-- SplitText -->
    <script src="/js/SplitText.min.js"></script>
    <!-- Lenis -->
    <script src="/js/bundled-lenis.min.js"></script>
    <!-- Main Js File -->
    <script src="/js/main.js"></script>
</body>

</html>