<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DISNI | Shop </title>
    <meta name="author" content="Disni Trophies">
    <meta name="description" content="Disni Trophies">
    <meta name="keywords" content="Disni Trophies">
    <meta name="robots" content="INDEX,FOLLOW">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&amp;family=Italiana&amp;family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap"
        rel="stylesheet">
    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/css/slick.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="vs-body2">

    <div class="preloader">
        <div class="preloader-inner">
            <img src="/img/logo.png" style="width: 60px;" alt="logo">
            <span class="loader"></span>
        </div>
    </div>
    <!--==============================
		Mobile Menu
	============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <div class="mobile-logo">
                <a href="index.html"><img src="/img/logo.png" alt="disni" style="width: 100px;" class="logo"></a>
                <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a style="color: #efbd14;" href="/shop">Shop</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ==============================
    	Sticky Navbar
    ============================== -->
    <div id="navbars" class="header-sticky navbars">
        <div class="container custom-container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-3 col-md-auto d-none d-lg-block col-auto">
                    <div class="menu-wrapper">
                        <div class="menu-category">

                            <div class="logo">
                                <a href="/">
                                    <img src="img/logo.png" style="width: 70px;" alt="Logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-auto col-md-auto col-auto">
                    <nav class="main-menu d-none d-lg-block">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a style="color: #efbd14;" href="/shop">Shop</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ==============================
    	Main Section Wrapper
  	============================== -->
    <main class="main">
        <!--==============================
        Header Area
    ==============================-->
        <header class="vs-header layout1">
            <!-- Main Menu Area -->
            <div class="sticky-wrapper position-relative">
                <div class="container custom-container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-4 d-none d-xl-block">
                            <nav class="main-menu menu-style1 d-none d-lg-block">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                </ul>
                            </nav>
                            <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                        </div>
                        <div class="col-xl-4 col-lg-auto">
                            <div class="header-logo style3 text-center">
                                <a href="/"><img src="/img/logo.png" alt="Disni" style="width: 100px;"
                                        class="logoMain"></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-auto">
                            <div class="d-flex justify-content-between justify-content-lg-end align-items-center gap-3">
                                <nav class="main-menu menu-style1 d-none d-lg-block text-end">
                                    <ul>

                                        <li>
                                            <a style="color: #efbd14;" href="/shop">Shop</a>
                                        </li>
                                        <li>
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </nav>

                                <div class="d-lg-none">
                                    <button class="vs-menu-toggle d-inline-flex align-items-center"><i
                                            class="fal fa-bars"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom text-center">
                <img src="/img/shapes/header-bottom-shape-1.svg" alt="header bottom">
            </div>
        </header>

        <div class="breadcumb-wrapper" data-bg-src="/img/bg/trophybg1.jpg">
            <img src="/img/shapes/dot-shape.svg" alt="dot" class="breadcumb-element">
            <div class="container z-index-common">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">our products</h1>
                    <div class="breadcumb-menu-wrap">
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li>our Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products Area -->
        <div class="space-top space-extra-bottom z-index-common">
            <div class="extra-shape"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <aside class="shop-sidebar">
                            <div class="widget">
                                <h3 class="widget_title">Filter By</h3>
                            </div>
                            <div class="widget">
                                <h3 class="widget_title">Category</h3>
                                <div class="category-filter">
                                    <ul id="category-filters">
                                        <li data-category="premium models"><input type="checkbox" id="premium" name="category" value="premium models">
                                            <label for="premium">Premium Models</label> <span class="total">0</span>
                                        </li>
                                        <li data-category="wooden trophies"><input type="checkbox" id="wooden" name="category" value="wooden trophies">
                                            <label for="wooden">Wooden Trophies</label> <span class="total">0</span>
                                        </li>
                                        <li data-category="medal models"><input type="checkbox" id="medal" name="category" value="medal models">
                                            <label for="medal">Medal Models</label> <span class="total">0</span></li>
                                        <li data-category="award trophies"><input type="checkbox" id="award" name="category" value="award trophies">
                                            <label for="award">Award Trophies</label> <span class="total">0</span></li>
                                        <li data-category="championship trophies"><input type="checkbox" id="championship" name="category" value="championship trophies">
                                            <label for="championship">Championship Trophies</label> <span class="total">0</span></li>
                                        <li data-category="gift items">
                                            <input type="checkbox" id="gift" name="category" value="gift items">
                                            <label for="gift">Gift Items</label>
                                            <span class="total">0</span>
                                        </li>
                                        <li data-category="glass momentos">
                                            <input type="checkbox" id="momentos" name="category" value="glass momentos">
                                            <label for="momentos">Glass momentos</label>
                                            <span class="total">0</span>
                                        </li>
                                        <li data-category="wooden momentos">
                                            <input type="checkbox" id="momentos1" name="category" value="wooden momentos">
                                            <label for="momentos1">Wooden momentos</label>
                                            <span class="total">0</span>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="vs-sort-bar style2">
                            <div class="row gx-4 gy-4 align-items-center">
                                <div class="col-md-auto flex-grow-1">
                                    <p class="woocommerce-result-count"><span>||</span> Showing <span
                                            id="product-count">0</span> results</p>
                                </div>
                                <div  class="col-md-auto">
                                    <form class="woocommerce-ordering" method="get">
                                        <select name="orderby" id="orderby" class="orderby" aria-label="Shop order">
                                            <option value="price">Sort by price: low to high</option>
                                            <option value="price-desc">Sort by price: high to low</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="product-list">
                            <!-- Products will be dynamically added here -->
                        </div>
                        <div class="vs-pagination pagi-shop" id="pagination">
                            <!-- Pagination will be dynamically added here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products Area End -->
        <!--==============================
        Footer Area
    ==============================-->
        <footer class="footer-layout2" data-bg-src="/img/footer/footer-image-1-1.png">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row gy-4 justify-content-between">
                        <div class="col-lg-3">
                            <div class="footer-logo">
                                <a href="/"><img src="/img/logo.png" style="width: 100px;" alt="logo"></a>
                            </div>
                            <div class="footer-info style2">
                                <p><span>Address :</span> Kunnamkulam-Guruvayoor Road Opposite Gas
                                    Crematorium,Kottapai,Guruvayoor</p>
                            </div>
                            <a href="/"><img src="/img/footer/payments.png" alt="payments"></a>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">links</h3>
                                <div class="footer-menu2">
                                    <a href="/about">About us</a>
                                    <a href="/shop">Shop</a>
                                    <a href="/contact">Contact us</a>
                                    <a href="/">Home</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">About Store</h3>
                                <div class="footer-menu2">
                                    <a href="/about">Shopping</a>

                                    <a href="/">Privacy Policy</a>
                                    <a href="/">Terms and conditions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">Subscribe for <span>newsletter</span></h3>
                                <form class="footer-newsletter" action="#">
                                    <input type="email" placeholder="Enter your email">
                                    <button type="submit">
                                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                                            <path d="M12.43 0.930176L18.5 7.00018L12.43 13.0702M1.5 7.00018H18.33"
                                                stroke="#F5F1E6" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </form>
                                <h4 class="footer-title">follow</h4>
                                <div class="social-style">
                                    <a class="facebook" href="https://www.facebook.com/"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="instagram" href="https://www.instagram.com/"><i
                                            class="fab fa-instagram"></i></a>
                                    <a class="twitter" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a class="linkedin" href="https://linkedin.com/"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="footer-copyright style2">
                Copyright <i class="fal fa-copyright"></i> 2024 All rights <a href="/">Disni</a>.
                Developed by <a href="https://trivlogic.com/">Trivlogic</a>.
            </p>
        </footer>
        <!--==============================
        Footer Area End
    ==============================-->
    </main>
    <div class="d-lg-none"
    style="position: fixed; bottom: 0; width: 100%; background-color: #000000; box-shadow: 0 -2px 5px rgba(0,0,0,0.1); z-index: 1000;">
    <div class="container">
        <div class="row text-center" style="padding-top: 5px;">
            <div class="col">
                <a href="/" class="d-block py-2">
                    <img src="img/footer/award.png" alt="serviceicon" style="max-width: 30px;">
                    <p style="margin: 0; font-size: 12px; color: #919191;font-weight: 600;">Home</p>
                </a>
            </div>
            <div class="col">
                <a href="/about" class="d-block py-2">
                    <img src="img/footer/trophy.png" alt="serviceicon" style="max-width: 30px;">
                    <p style="margin: 0; font-size: 12px; color: #919191;font-weight: 600;">About</p>
                </a>
            </div>
            <div class="col">
                <a href="/shop" class="d-block py-2">
                    <img src="img/footer/trophy-star.png" alt="serviceicon" style="max-width: 30px;">
                    <p style="margin: 0; font-size: 12px;color: #ffffff;font-weight: 600;">Shop</p>
                </a>
            </div>
            <div class="col">
                <a href="/contact" class="d-block py-2">
                    <img src="img/footer/trophy-cup.png" alt="serviceicon" style="max-width: 30px;">
                    <p style="margin: 0; font-size: 12px;color: #919191;font-weight: 600;">Contact</p>
                </a>
            </div>
        </div>
    </div>
</div>
    <!-- ==============================
    	Main Section Wrapper End
  	============================== -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
    <!--********************************
		Code End  Here 
******************************** -->
    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script>
       document.addEventListener("DOMContentLoaded", function () {
    const categoryFilters = document.getElementById('category-filters');
    const productList = document.getElementById('product-list');
    const productCount = document.getElementById('product-count');
    const orderby = document.getElementById('orderby');
    const pagination = document.getElementById('pagination');

    let currentPage = 1;
    const productsPerPage = 9;
    let selectedCategories = [];

    const fetchProducts = (categories = [], sort = 'price', page = 1) => {
        const categoryQuery = categories.join(',');
        fetch(`/shop-products?category=${categoryQuery}&sort=${sort}&page=${page}&limit=${productsPerPage}`)
            .then(response => response.json())
            .then(data => {
                if (Array.isArray(data.products)) {
                    displayProducts(data.products);
                } else {
                    console.error('Invalid products data:', data.products);
                }
                updateProductCount(data.total);
                setupPagination(data.pages);
            })
            .catch(error => console.error('Error fetching products:', error));
    };

    const fetchCategoryCounts = () => {
        fetch('/shop-products/counts')
            .then(response => response.json())
            .then(data => {
                updateCategoryCounts(data.counts);
            })
            .catch(error => console.error('Error fetching category counts:', error));
    };

    const displayProducts = (products) => {
        productList.innerHTML = '';
        products.forEach(product => {
            productList.innerHTML += `
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="product-style2 version3">
                        <div class="product-img">
                           <a href="/product-details?id=${product._id}">
                            <img class="img" src="${product.imageUrl}" alt="${product.name}">
                        </a>
                        </div>
                        <h3 class="product-title">
                            <a href="/product-details?id=${product._id}" style="color: white;">${product.name}</a>
                        </h3>
                        <span class="product-price">
                            <span class="product-price__number">₹${product.price}</span>
                             <button class="product-cart" tabindex="0" onclick="buyNow('${product.name}', '${product.price}', '${product.description}', '${product.category}', '${product.height}', '${product.thickness}')">Buy Now</button>
                        </span>
                    </div>
                </div>`;
        });
    };

    const updateProductCount = (count) => {
        productCount.textContent = count;
    };

    const updateCategoryCounts = (counts) => {
        const categories = categoryFilters.querySelectorAll('li');
        categories.forEach(category => {
            const categoryName = category.dataset.category;
            const count = counts[categoryName] || 0;
            category.querySelector('.total').textContent = count;
        });
    };

    const setupPagination = (totalPages) => {
        pagination.innerHTML = '';
        for (let i = 1; i <= totalPages; i++) {
            pagination.innerHTML += `<a href="#" class="pagi-btn" data-page="${i}">${i}</a>`;
        }
    };

    orderby.addEventListener('change', (event) => {
        const sort = event.target.value;
        fetchProducts(selectedCategories, sort, currentPage);
    });

    pagination.addEventListener('click', (event) => {
        if (event.target.classList.contains('pagi-btn')) {
            event.preventDefault();
            currentPage = parseInt(event.target.dataset.page, 10);
            fetchProducts(selectedCategories, orderby.value, currentPage);
        }
    });

    categoryFilters.addEventListener('change', (event) => {
        if (event.target.name === 'category') {
            selectedCategories = Array.from(document.querySelectorAll('input[name="category"]:checked'))
                .map(checkbox => checkbox.value);
            fetchProducts(selectedCategories, orderby.value, currentPage);
        }
    });

    // Initial fetch
    fetchProducts();
    fetchCategoryCounts();
});

    </script>
<script>
    function buyNow(name, price, description, category, height, thickness) {
        const message = `I'm interested in buying the following product:\n\nName: ${name}\nPrice: ₹${price}\nDescription: ${description}\nCategory: ${category}\nHeight: ${height} cm\nThickness: ${thickness} mm`;
        const encodedMessage = encodeURIComponent(message);
        const phoneNumber = '919656393940'; 
        const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodedMessage}`;
        window.location.href = whatsappUrl;
    }
</script>

    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Jquery UI -->
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Slick Slider -->
    <script src="/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- WOW.js Animation -->
    <script src="/js/wow.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Image Loaded Jquery -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- Gsap -->
    <script src="/js/gsap.min.js"></script>
    <!-- ScrollTrigger -->
    <script src="/js/ScrollTrigger.min.js"></script>
    <!-- ScrollToPlugin -->
    <script src="/js/ScrollToPlugin.min.js"></script>
    <!-- SplitText -->
    <script src="/js/SplitText.min.js"></script>
    <!-- Lenis -->
    <script src="/js/bundled-lenis.min.js"></script>
    <!-- Main Js File -->
    <script src="/js/main.js"></script>
</body>

</html>